{% extends 'recipes/base.html' %}

{% block content %}
  <div class="container">
    <h1>About Sip n Savor</h1>
    <p>Welcome to Sip n Savor, your go-to resource for all things cocktails!</p>
    <h2>Functionality</h2>
    <ul>
      <li>View Trending Cocktails - See what cocktails are popular right now</li>
      <li>View Popular Cocktails - Discover the most popular cocktails of all time</li>
      <li>View New Cocktails - Find the latest cocktail recipes</li>
      <li>Search for Cocktails by Name - Search for specific cocktail recipes by name</li>
      <li>Advanced Search - Use ingredients, tags, mixer, and glass type to search for the perfect cocktail recipe</li>
      <li>Create User Account - Create an account to save your favorite recipes and ingredients</li>
      <li>Save Recipes - Save your favorite cocktail recipes for future reference</li>
      <li>Save Ingredients to MyBar - Keep track of your favorite ingredients and easily find cocktail recipes that use them</li>
      <li>Search for Cocktails based on MyBar Ingredients - Find cocktail recipes that you can make with the ingredients in your bar</li>
    </ul>
  </div>
{% endblock content %}
