{% extends 'recipes/base.html' %}

{% block content %}

<!-- Jumbotron Banner and Basic Search -->
<div class="jumbotron jumbotron-fluid" style="color: #4a4a4a; background-color: white;">
  <div class="container text-center">
    <h1 class="display-4 mb-4">Make your own cocktails!</h1>
    <p class="lead mb-5">Discover new cocktail recipes and impress your friends.</p>
    <form class="form-inline justify-content-center" method="GET">
      <div class="form-group">
        <input type="text" class="form-control form-control-lg mr-2" name="cocktail" placeholder="Search for a cocktail...">
      </div>
      <button type="submit" class="btn btn-lg" style="background-color: #C4A29E; color: white;">Search</button>
    </form>
  </div>
</div>


<!-- Trending Cocktails -->
<div class="row">
  <div class="col-12">
    <h2 class="text-left">Trending 🔥</h2>
  </div>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  {% for recipe in trending %}
  <div class="card" style="width: 18rem; margin: 10px">
    <a href="cd.{{ recipe.idDrink }}" style="text-decoration: none;">
      <img src="{{ recipe.strDrinkThumb }}" class="card-img-top" alt="{{ recipe.strDrink }}">
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href="cd.{{recipe.idDrink }}" style="text-decoration: none;">{{ recipe.strDrink }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ recipe.strAlcoholic }}</h6>
      <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ recipe.strInstructions }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Popular Cocktails -->
<div class="row">
  <div class="col-12">
    <h2 class="text-left">Popular 🌟</h2>
  </div>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  {% for recipe in popular %}
  <div class="card" style="width: 18rem; margin: 10px">
    <a href="cd.{{ recipe.idDrink }}" style="text-decoration: none;">
      <img src="{{ recipe.strDrinkThumb }}" class="card-img-top" alt="{{ recipe.strDrink }}">
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href="cd.{{recipe.idDrink }}" style="text-decoration: none;">{{ recipe.strDrink }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ recipe.strAlcoholic }}</h6>
      <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ recipe.strInstructions }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Popular Cocktails -->
<div class="row">
  <div class="col-12">
    <h2 class="text-left">New 🎉</h2>
  </div>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  {% for recipe in new %}
  <div class="card" style="width: 18rem; margin: 10px">
    <a href="cd.{{ recipe.idDrink }}" style="text-decoration: none;">
      <img src="{{ recipe.strDrinkThumb }}" class="card-img-top" alt="{{ recipe.strDrink }}">
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href="cd.{{recipe.idDrink }}" style="text-decoration: none;">{{ recipe.strDrink }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ recipe.strAlcoholic }}</h6>
      <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ recipe.strInstructions }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
