{% extends 'recipes/base.html' %}

{% block content %}


<div class="row">
    <div class="col-12">
      <h2 class="text-left">Cocktail Collection</h2>
    </div>
  </div>
  
  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% if cocktails %}
    {% for cocktail in cocktails %}
    {% if cocktail.recipe_db_type == 'cd' %}
    <form method="post" action="{% url 'remove-cocktail' cocktail.id %}">
      {% csrf_token %}
    <div class="card" style="width: 18rem; margin: 10px">
      <a href="/cd.{{ cocktail.recipe_id }}" style="text-decoration: none;">
        <img src="{{ cocktail.recipe_image_url }}" class="card-img-top" alt="{{ cocktail.recipe_name }}">
      </a>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0"><a href="/cd.{{ cocktail.recipe_id }}" style="text-decoration: none;">{{ cocktail.recipe_name }}</a></h5>
            <button type="submit" class="btn btn-danger btn-sm">X</button>
          </div>
          <h6 class="card-subtitle mb-2 text-muted">{% if cocktail.alcoholic %} Alcoholic {% else %} Non-Alcoholic {% endif %}</h6>
          <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ cocktail.recipe_instructions }}</p>
        </div>
        <!-- <h5 class="card-title"><a href="/cd.{{ cocktail.recipe_id }}" style="text-decoration: none;">{{ cocktail.recipe_name }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{% if cocktail.alcoholic %} Alcoholic {% else %} Non-Alcoholic {% endif %}</h6>
        <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ cocktail.recipe_instructions }}</p> -->
      </div>
    </form>
      {% else %}
      <form method="post" action="{% url 'remove-cocktail' cocktail.id %}">
        {% csrf_token %}
        <div class="card" style="width: 18rem; margin: 10px">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title mb-0"><a href="/dd.{{ cocktail.recipe_id }}" style="text-decoration: none;">{{ cocktail.recipe_name }}</a></h5>
              <button type="submit" class="btn btn-danger btn-sm">X</button>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">{% if cocktail.alcoholic %} Alcoholic {% else %} Non-Alcoholic {% endif %}</h6>
            <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ cocktail.recipe_description }}</p>
            <small class="text-muted">Tags:</small>
            {% for tag in cocktail.recipe_tags %}
            <span class="badge badge-pill badge-primary" style="overflow: hidden; display: inline-flex; ">{{ tag.tag.name }}</span>
            {% endfor %}    
          </div>
        </div>
      </form>
      {% endif %}
      {% endfor %}
      {% else %}
      <p>You don't have any cocktails in your collection yet!</p>
      {% endif %}
    </div>

{% endblock content %}